/* 
https://coolors.co/0d1321-1d2d44-3e5c76-748cab-f0ebd8 

rich black: #0D1321
prussian blue: #1D2D44
dark electric blue: #3E5C76
shadow blue: #748CAB
eggshell: #F0EBD8

*/

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0ebd8 !important;
}

@font-face {
    font-family: aeonik;
    src: url("Aeonik/Aeonik-Medium.otf");
}

@font-face {
    font-family: aeonik_light;
    src: url("Aeonik/Aeonik-Thin.otf");
}

@font-face {
    font-family: aeonik_bold;
    src: url("Aeonik/Aeonik-Bold.otf");
}

@font-face {
    font-family: aeonik_bolder;
    src: url("Aeonik/Aeonik-Black.otf");
}

#home {
    width: 95vw;
    margin: 5vh auto;
    border: 2px solid #3e5c76;
    height: 90vh;
}

#titleBox {
    /* margin: auto; */
    width: 100%;
    padding: 15rem 0;
}

#title {
    text-align: center;
    font-size: 5rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-family: 'aeonik';
    margin-bottom: 2rem;
}

#subtitle {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'aeonik_light';
    letter-spacing: 2rem;
}

#iconBox {
    padding-right: 2rem;
    padding-top: 1em;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fff;
}
    .icons {
        width: 60px;
        margin: auto;
        text-align: center;
    }

#intro {
    background-color: #0D1321;
    margin: 0;
    width: 100vw;
    padding: 7rem 15rem;
}

    #intro p {
        color: #fff;
        font-size: 1.7rem;
        line-height: 3rem;
    }

#hi {
    color: #748CAB;
    font-size: 5rem;
    font-family: 'aeonik_bolder';
}


.traits {
    color: #748CAB;
    font-size: 2rem;
    font-family: 'aeonik_bold';
}

.line {
    color: #fff; 
    width: 40%;
    margin: 3rem auto;
    border: 5px solid #3E5C76;
}

#skills {
    width: 100vw;
    margin-top: 2rem;
}

#skillsTitle {
    color: #fff;
    font-size: 4rem;
    text-align: center;
    font-family: 'aeonik_bold';
}

.skills-box {
    text-align: center;
    margin: 2rem 0;
}

    .skills {
        width: 50%;
    }

    #css {
        width: 40% !important;
    }

#projects {
    height: 90vh;
    width: 100vw;
    background-color: #F0EBD8;
}

#project_title {
    text-align: center;
    font-family: 'aeonik';
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    font-size: 3.5rem;
    margin-bottom: 0.8em;
}
    #project-list {
        display: flex;
        border: 2px solid #3e5c76;
        width: 95vw;
        margin: auto;
        padding: 2%;
        flex-wrap: wrap;
    }

    .project-img {
        width: 100%;
        border-radius: 10px;
        box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
    }

    .project-subtitles {
        text-align: center;
        font-family: 'aeonik_light';
        font-weight: 900;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 2%;
    }
    
    .project-description {
        font-size: 1rem;
        font-family: 'aeonik_light';
        font-weight: 800;
    }

    .button-box {
        width: 100%;
        margin: auto;
        text-align: left;
    }

    .custom-button {
        width: 49%;
    }

    #contact {
        height: 20vh;
        width: 100vw;
        padding: 2rem;
        background-color: #0D1321;
    }

    #footer {
        text-align: center; 
        margin-top: 3rem;
        font-size: 1rem;
        font-family: 'aeonik_light';
        color: #fff;
    }


    @media (max-width: 1200px) {
        #home {
            height: 50vh;
            margin: 2vh auto;
        }

        #intro {
            padding: 3rem 2rem !important;
        }

        #projects {
            height: 50vh !important;
        }

        #project_title {
            margin-top: 1rem;
        }
    }

    @media (max-width: 1000px) {
        #home {
            height: 40vh;
            margin: 2vh auto;
        }

        #titleBox {
            padding: 0;
        }

        #title {
            font-size: 4rem;
        }

        #iconBox {
            margin-top: 1rem;
            padding-bottom: 2rem;
            justify-content: center;
            text-align: center;
            padding-right: 0px;
        }
        .icons {
            width: 80px;
        }

        #iconBox p{
            width: 25%;
        }

        #intro {
            padding: 7rem 5rem;
        }   
        #projects {
            height: 90vh !important;
        }
        #contact {
            height: auto;
            margin-top: 5%;
        }
        #footer {
            font-size: 2rem;
        }  
    }

    @media (max-width: 600px) {
        #title {
            font-size: 2rem;
        }
        #subtitle {
            font-size: 1.5rem;
            letter-spacing: 1rem;
        }

        #iconBox p {
            width: 25%;
        }

        .icons {
            width: 40px;
        }

        #iconBox {
            margin: auto;
        }
        #intro {
            padding: 3rem 1rem;
        }

        #intro p {
            font-size: 1rem;
        }

        #hi {
            font-size: 2.5rem !important;
        }

        .traits {
            font-size: 1.5rem !important;
        }
        .skills-box {
            width: 40% !important;
        }
        .row {
            justify-content: center;
        }
        #project_title {
            font-size: 2rem;
            margin-top: 2rem;
            text-align: center;
        }
        .project-box {
            margin-bottom: 10%;
        }
        #contact {
            margin-top: 150%;
        }
    }